*, *:before,*:after{
  box-sizing: border-box;
}
body{
  background: rgb(239,233,231);
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
.clearfix{
  clear: both;
}
.header{
  background: rgba(0,0,0,0.75);  
  position: fixed;
  z-index: 5;
  width: 100%;
}
.header-container{
  padding: 12px 42px 12px 42px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1{ /*寫margin0可以讓h1不會上下推擠高度*/
  margin: 0;
}
.logo h1 a{
  background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/05c3ff601f2a6a26c289b7922fb25548338e35fa/images/logo_w%40svg.svg) no-repeat;
  width: 120px;
  height: 24px;
  font-weight: bold;
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.menu-list {
  font-size: 24px;
  display: none;
  color: #fff;
}
.menu-list:hover{
  color: #3d1101;  
}
.menu > li{
  float: left;
}
.menu li > a{
  display: block;
  color: #fff;
  padding: 8px 15px;
  position: relative;
}
.menu > li > a:hover::after{
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.banner{
  background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/main/images/header_desktop%402x.png) no-repeat;
  background-size: cover;
  height: 420px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:1024px){
  .banner{
    background: url(https://github.com/yan-tingciou/RWD-final/blob/main/images/header_desktop.png?raw=true) no-repeat;
    height: 420px;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
}
.banner-container{
  text-align: center;
  padding: 20px 42px 26px 22px;
  background: rgba(0,0,0,.35);
}
.banner h2{
  font-size: 36px;
  color: #fff;
  margin-bottom: 16px;
}
.banner span{
  font-size: 16px;
  color: #fff;
  line-height: 1.3;
}
@media(max-width:568px){
  .menu-list{
    display: block;
    float: right;
  }
  .menu{
    /*隱藏選單*/
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1.5s;
    margin-top: 1px;
    /*絕對定位*/    
    position: absolute;
    z-index: 10;
    top: 52px;
    right: 0;
    left: 0;
    background: rgb(0,0,0,.75);
  }
  .menu{
    float: none;
  }
  .menu > li{
    float: none;
    text-align: center;
    border-bottom: 1px #fff solid;
  }
  .menu > li > a{
    padding: 14px 0;
  }
  .menu > li > a:hover{
    font-weight: bold;
    background: rgba(61,17,1,0.7);
  }
  .menu > li > a:hover::after{
    border-bottom: none;    
  }
  .banner{
    background: url(https://github.com/yan-tingciou/RWD-final/blob/main/images/Bitmap.png?raw=true) no-repeat;;
    height: 420px;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-show .menu{
  max-height: 225px
}
.order{
  max-width: 1024px;
  margin: 0 auto;
  padding: 4% 1% 4% 3%;
  display: flex;
  flex-wrap: wrap;
  color: #3D1101;
} 
.online{
  width: 22%;
}
.online p{
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}
.online > li > a{
  display: block;
  padding-left: 8px;
  color: #3D1101;
  line-height: 1.5;
  padding: 5px 0 5px 8px;
}
.online > li{
  border-bottom: 1px solid #000;
}
.online > li:hover{
  background: #3D1101;
}
.online > li > a:hover{
  color: #fff;
}
.online-burger{
  margin-left: 2%;
  width: 76%;
}
.online-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media(max-width:768px){
  .online{
    width: 30%;
  }
  .online-burger{
    width: 68%;
    margin-left: 2%;
  } 
  .online-bar{
    flex-direction: column;
    align-items: end;
  }
  .online-bar > li{
    margin-top: 10px;
  }
}
@media(max-width:568px){
  .online{
    width: 40%;
  }
  .online-burger{
    width: 57%;
    margin-left: 2%;
  }
}
@media(max-width:320px){
  .order{
    flex-direction: column;
  }
  .online{
    width: 100%;
  }
  .online-burger{
    width: 97%;
    margin-left: 2%;
  }
}
.search{
  width: 64%;
  margin-top: 6px;
}
input[type='search']{
  width: 100%;
  background: rgb(239,233,231);
  font-family: sans-serif;
}
.search-bar input:focus{ /*input點擊後的邊框效果*/
  outline: none;
}
.search-bar{
  display: flex;
  width: 100%;
}
.search-icon{
  background: #3D1101;
  padding: 6px 8px;  
}
@media(max-width:768px){
  .search{
    width: 100%;
  }
}
.cart{
  width: 26%;
  padding-right: 5px;
}
.checkout{
  border-right: 1px solid;
  margin-top: 6px;
}
.checkout a{
  color: #3D1101;
}
.checkout a:hover{
  font-weight: bold;
}
.cart-list{
  float: right;
}
.cart-list > li{
  float: left;
  padding: 0px 12px;
}
.cart-logo{
  position: relative;
}
.cart-logo i{
  color: #3d1101;
}
.cart-logo i:hover{
  color: rgba(61,17,1,.7);
}
.cart-logo p{
  font-size: 12px;
  position: absolute;
  right: 6%;
  top: 0;
  background: #FF5E45;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50px;
}
@media(max-width:768px){
  .cart{
    width: 38%;
  }
}
@media(max-width:568px){
  .cart{
    width: 100%;
  }
}
.burger-menu{
  display: flex;
  flex-wrap: wrap;
}
.burger-menu > li{
  width: 30.33334%;
  margin-right: 3%;
  margin-top: 20px;
  text-align: center;
  line-height: 1.3;
  position: relative;
}
.burger-menu > li:hover{
  box-shadow: 1px 2px 6px 1px #718093;
  cursor: pointer;
}
.heart{
  color: #ffffff;
  font-size: 22px;
  position: absolute;
  left: 7px;
  top: 7px;
}
.heart:hover, .heart.full{
  font-weight: bold;
}
.burger-pop{
  position: absolute;/*位移要超出原有的框架，才能做出緞帶效果*/
  top: -3px;
  right: -3px;
  overflow: hidden;/*超出的部份隱藏*/
  width: 160px;
  height: 100px;
  .ribbon {
    font-size: 14px;
    position: relative;
    width: 160px;
    background-color: #00CC99;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    margin-top: 5px;
    color: white;
    /*rotate為旋轉、translate為移動、skew為傾斜、scale為縮放*/
    transform: translateX(40%) rotate(45deg)  translateY(50%);
  }
}
.burger-menu img{
  display: block;
  margin: 0 auto;
}
.burger-menu h4{
  margin-top: 15px;
  font-size: 20px;
}
line{
  display: block;
  width: 86px;
  border-bottom: 2px solid #3D1101;
  position: absolute;
  margin-top: 5px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu span{
  font-family: sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
} 
.burger-menu p{
  font-family: sans-serif;
  font-style: italic;
  font-size: 20px;
  margin: 15px 0;
}
.burger-menu h5{
  color: #FF5E45;
  border: 2px solid #FF5E45;
  border-radius: 3px;
  padding: 3px;
  margin: 8px;
}
.burger-menu h5 {
  color: #ff5e45;
}
.burger-menu h5:hover, .burger-menu h5.add{
  color: #fff;
  background: #FF5E45;
  font-weight: bold;
  transition: 0.3s;
}
.burger-menu i:hover{
  color: #fff;
}
@media(max-width:768px){
  .burger-menu > li{
    width: 47%;
    margin-right: 3%;
  }
  
}
@media(max-width:568px){
  .burger-menu > li{
    width: 97%;
  }
}
.footer{
  max-width: 1024px;
  margin: 0 auto;
  background: rgb(239,233,231);
}
.footer-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3%;
}
.footer-list > li{
  width: 29.3333%;
  margin: 0 2%;
  line-height: 1.3;
}
.footer-list h3{
  margin: 25px 0;
  font-size: 24px;
}
@media(max-width:768px){
  .footer-list{
    padding: 1%;
  }
  .footer-list > li{
  width: 31.3333%;
  margin: 0 1%;
  line-height: 1.3;
  }
}
@media(max-width:568px){
  .footer-list{
    flex-direction: column;
  }
  .footer-list > li{
    width: 94%;
    margin: 0 3%;
  }
}
.contact > li{
  margin-left: 8%;
  list-style-type: disc;
}
.media{
  float: right;
}
.media h3 a{
  display: inline-block;
  background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/abedd57541e156936ed411aa9ea0f2088fe0bce0/images/logo_l%40svg.svg) no-repeat;
  width: 245px;
  height: 49px;
}
.media p{
  font-size: 36px;
  text-align: right;
}
@media(max-width:768px){
  .media h3 a{
    background-size: 183.75px 36.75px;
    background-position: right center;
  }
}
@media(max-width:568px){
  .media h3 a{
    display: inline-block;
    background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/abedd57541e156936ed411aa9ea0f2088fe0bce0/images/logo_l%40svg.svg) no-repeat;
    width: 245px;
    height: 49px;
  }
}