.header{
    background: $color-b075;  
    position: fixed;
    z-index: 5;
    width: 100%;
}
.header-container{
    padding: 12px 42px 12px 42px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{ /*寫margin0可以讓h1不會上下推擠高度*/
    margin: 0;
    a{
        background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/05c3ff601f2a6a26c289b7922fb25548338e35fa/images/logo_w%40svg.svg) no-repeat;
        width: 120px;
        height: 24px;
        font-weight: $fw-bold;
        display: block;
        @include text-hide;
    }
}
.menu-list {
    font-size: $font-xl;
    display: none;
    color: $color-f;
    &:hover{
        color: $color-main;  
    }
    @include mobile568(){
        display: block;
        float: right;
    }
}
.menu > li{
    float: left;
    > a{
        display: block;
        color: $color-f;
        padding: 8px 15px;
        position: relative;
        &:hover::after{
            display: block;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 2px solid #fff;
        }
    }
}
.banner{
    @include desk-top(){
        background: url(https://github.com/yan-tingciou/RWD-final/blob/main/images/header_desktop.png?raw=true) no-repeat;
    }
    background: url(https://raw.githubusercontent.com/yan-tingciou/RWD-final/main/images/header_desktop%402x.png) no-repeat;
    background-size: cover;
    height: 420px;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    h2{
        font-size: $font-2xl;
        color: $color-f;
        margin-bottom: 16px;
    }
    span{
        font-size: $font-2s;
        color: $color-f;
        line-height: 1.3;
    }
    @include mobile568(){
        background: url(https://github.com/yan-tingciou/RWD-final/blob/main/images/Bitmap.png?raw=true) no-repeat;;
        height: 420px;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.banner-container{
    text-align: center;
    padding: 20px 42px 26px 22px;
    background: rgba(0,0,0,.35);
  }
.menu{
    @include mobile568(){
        /*隱藏選單*/
        max-height: 0px;
        overflow: hidden;
        transition: max-height 1.5s;
        margin-top: 1px;
        /*絕對定位*/    
        position: absolute;
        z-index: 10;
        top: 52px;
        right: 0;
        left: 0;
        background: $color-b075;
        float: none;
    }
    > li {
        float: none;
        text-align: center;
        border-bottom: 1px $color-f solid;
        > a{
            padding: 14px 0;
            &:hover{
                font-weight: $fw-bold;
                background: rgba(61,17,1,0.7);
            }
            &:hover::after{
                border-bottom: none;    
            }
        }
    }
}
.menu-show .menu{
    max-height: 225px
}