input[type='name'], input[type='tel'], input[type='email'], input[type='number'], input[type='password']{
    width: 100%;
}
body{
    background: rgb(239,233,231);
}
input[type='button']{
    cursor: pointer;
}
$color-main: #3D1101;
$color-main07: rgba(61, 17, 1, 0.7);
$color-main05: rgba(61, 17, 1, 0.5);
$color-minor1: rgb(239, 233, 231);
$color-minor2: #FF5E45;
$color-f: #fff;
$color-b: #000;
$color-b075: rgba(0, 0, 0, 0.75);
$font-3xl: 48px;
$font-2xl: 36px;
$font-xl: 24px;
$font-l: 22px;
$font-m: 20px;
$font-s: 18px;
$font-2s: 16px;
$font-3s: 14px;
$font-4s: 12px;
$ff-sans: sans-serif;
$fw-bold: bold;

